body {
  background: white url("images/background.jpg");
}

.navbar {
	border-radius: 0;
}

.navbar-brand {
	font-family: 'Satisfy', cursive;
}

.glyphicon-star.active {
    color: #FDB230;
}

/*.caption a:hover{
	text-decoration-style: none;
}*/
